@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---- RESET ---*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
img{vertical-align:top;}
abbr[title], dfn[title]{border-bottom:1px dotted; cursor:help;}
sub, sup{font-size:75%; line-height:0; position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ins{text-decoration:none;}
mark{font-style:italic; font-weight:bold;}
del{text-decoration:line-through;}
pre, code, kbd, samp{font-family:monospace, sans-serif;}
h1, h2, h3, h4, h5, h6, strong, b{font-weight:bold;}
a:hover, a:active{outline:none;}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:underline;}
address{font-style:normal;}
em{font-style:italic;}
/*---- END RESET ---*/

/* .png{behavior: url(iepngfix.htc);} */
img, div { behavior: url(iepngfix.htc) }
	
/*---- LAYOUT ---*/
body{text-align:center; background-color:#eeebea; font-family: Arial, sans-serif; font-size:12px; line-height:18px;}
h1 {font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; font-weight:normal; color:#c8c3a5; font-size:30px; width:206px; height:85px; padding:55px 0 0 0; margin:0 auto; background:url(images/title-bg.png); text-align:center; text-transform:uppercase; z-index:30; position:relative; margin-top:-303px;}
h2 {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:28px; color:#3f3b3c; font-style:italic; font-weight:normal; line-height:45px;}
h3 {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:35px; color:#3f3b3c; font-style:italic; font-weight:normal; line-height:55px;}
h4 {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:22px; color:#631e29; font-style:italic; font-weight:normal; line-height:40px;}
h5 {font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; font-size:42px; color:#631e29; font-weight:normal; text-transform:uppercase; padding-top:20px;}
p {color:#3f3b3c; margin-bottom:10px; font-weight:normal; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:12px; line-height:22px;}
input,select,textarea  {padding:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ca858e; border:none; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-weight:normal; background-color:#2a0d11;}
a {text-decoration: none; outline: 0px; border: 0px;}

#topbar {width:100%; height:65px; background-color:#231f20;}
	#social {width:1000px; margin:0 auto; padding-top:10px; text-align:right;}

#photo_background {width:100%; height:387px; z-index:5; position:relative; background-color:#333; overflow:hidden; white-space:nowrap;}
	#photo_background img {padding:0; margin:0;}
	#logo {overflow:hidden; height:387px;}
	
#background_cont {width:100%; background:url(images/background.jpg) repeat-x;}
#main_cont {width:1000px; margin:0 auto;}
	#left_cont {width:305px; float:left; position:relative; z-index:10; margin-top:-387px;}
		#navigation_cont {width:305px; background:url(images/leftside-bg.jpg) repeat-y; min-height:800px; padding:50px 0;}
			#navigation {text-align:center; width:305px;}
				#navigation a {font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; text-transform:uppercase; color:#fff; font-size:24px; padding:7px 0; display:block; margin-bottom:5px; font-weight:normal; text-shadow: 0px 1px 0px rgba(0, 0, 0, .50);}
				#navigation a:hover {text-decoration:none; color:#c8c3a5; background-color:#2a0d11;}
				#navigation a.current {text-decoration:none; color:#c8c3a5; background-color:#2a0d11;}

	hr { border-top: 1px solid rgba(0, 0, 0, 0.2);border-bottom: 1px solid rgba(255, 255, 255, 0.2);margin:1.5em 0; margin:50px 0;}	
	
		#signup {padding:0 30px; text-align:left; font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; text-transform:uppercase; color:#fff; font-size:20px; line-height:24px; text-shadow: 0px 1px 0px rgba(0, 0, 0, .50);}
		#signup input {padding:6px; font-size:14px; color:#ca858e; border:none; background-color:#2a0d11; margin:10px 0; display:inline-block; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-weight:normal;}
	
		#hours {padding:0 30px; text-align:left; font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; text-transform:uppercase; color:#fff; font-size:19px; line-height:24px;}
		#leftside_contact {padding:20px 30px; text-align:left; font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; text-transform:uppercase; color:#fff; font-size:20px; line-height:24px;}
	
	
	#right_cont {width:634px; float:right; position:relative; z-index:10; margin-right:20px; margin-top:-30px; background-color:#fff;}
		#watermark {width:537px; height:544px; z-index:15; position:relative; margin:0 auto; margin-top:-250px;}
		#specials_tag {width:149px; height:38px; z-index:18; position:relative; margin-top:-100px; padding-left:489px;} 
		#content_cont {z-index:20; position:relative; margin-top:70px;}
	

.highlight {color:#c8c3a5;}
.red {color:#631e29;}

.logo_bar {margin:0 auto; padding:20px 0;}

#bottom_bar {width:574px; padding:30px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; text-transform:uppercase; color:#dcdbdb; background-color:#FFF; margin-top:40px; border-top:#eeebea solid 30px;}
	#bottom_bar a {color:#999999;}
	#bottom_bar a:hover {color:#000; text-decoration:none;}
	

/*---- HOMEPAGE ---*/

.announcement {margin:20px auto; width:512px; text-align:left; padding-top:20px;}
	.announcement img {border-radius:10px; margin:10px 20px 0 0;}
	.announcement_content {float:right; width:363px; margin-bottom:20px;}
	
		.announcement a {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; text-transform:uppercase; color:#631e29; font-size:11px; font-weight:normal; margin-right:20px; text-align:left; font-weight:bold;}
		.announcement a:hover {text-decoration:none; color:#d0cdcd;}	


.week_of {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:12px; color:#631e2b; text-transform:uppercase; display:block; text-align:left; font-weight:bold; padding-left:35px;}

#weekly_specials_nav {width:614px; padding:10px; background-color:#f9f7f7; margin:10px 0; text-transform:uppercase;}
	#weekly_specials_nav a {font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; color:#c7c5c7; font-size:22px; text-align:center; padding-right:20px;}
	#weekly_specials_nav a:hover {text-decoration:none; color:#333;}
	
	
	
	
#content {margin:0 auto; width:512px; text-align:left; padding:0 20px;}
	#content p {line-height:29px; margin-bottom:20px;}

#content_menus {margin:0 auto; width:512px; text-align:left; padding:20px 20px;}
	#content_menus h3 {font-size:42px;}
	#content_menus p {line-height:20px !important;}
		#content_menus a {line-height:40px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:40px; color:#3f3b3c; font-style:italic; font-weight:normal; line-height:60px;}
		#content_menus a:hover {text-decoration:none; color:#5b0d1f;}
.menu_link {text-decoration: underline !important;}


#content_forms  {margin:0 auto; width:512px; text-align:left; padding:0 20px;}
	#content_forms h2 {font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; text-transform:uppercase; color:#3d2428; font-size:30px; font-style:normal;}
	#content_forms p {line-height:20px !important; text-align:center; font-size:14px;}



#thumb_cont {padding:20px;}
		#thumb_cont a {display:inline-block; float:left; padding:0; background:none; margin:10px; border-radius:10px 10px 10px 10px; overflow:hidden;}
		#thumb_cont a:hover {text-decoration:none; border-radius:0;}




/* EVENTS */
#month {width:4101px; text-align:center; padding:12px; height:45px; background-color:#ccc; color:#fff; margin:0;}	
.month {background-color: #131313; color: #F4CB69; font:bold 20px 'Arial', sans-serif; height: 20px; letter-spacing: 1px; padding:15px 0; text-align: center; width: 100%; text-transform:uppercase;}
.month a {padding: 10px;}
.events_module {margin: 25px auto 0; width:510px;}	
.date_block {float: left; padding: 4px 0 30px 0; text-align: center; width:131px; background-color:#2a0d11; border-radius:5px 0 5px 5px;}
h5.date {color:#f4cb69; font-size:55px; letter-spacing:4px; margin:0; padding:0; background-image:none; position:relative; padding:30px 0 10px 0;}
h4.day {text-transform:uppercase; color:#fff; padding:8px 0 0 0; font:12px 'Arial', sans-serif; line-height:14px;}
h4.events {background-color: #2a0d11; color: #c8c3a5; padding:10px 8px 8px 20px; text-align: left; text-transform: none; font:20px 'Arial', sans-serif; letter-spacing:1px; border-radius:0 5px 5px 0;}
p.events {color: #f4cb69; margin: 0; text-align: center; text-transform: uppercase; font:18px 'Arial', sans-serif; line-height:38px;}
.event_description_cont {float: right; width: 379px; padding:0 0 10px 0;}
.event_description_cont p.events_description {overflow: hidden;}
p.events_description {color: #333; padding: 10px 20px; text-align: left; font-size: 12px; line-height: 20px;}
a.more {color:#131313; text-transform:uppercase; font-weight:bold; font-size:12px !important;}		
	a.more:hover {color:#666; text-decoration:none;}	
	
#content_events {text-align:left; padding:0 20px; width:512px; margin:0 auto;}
	#content_events p {line-height:24px;}
	#content_events hr {padding:0; margin:10px;}
	
	#content_events h1 {font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif; font-weight:normal; color:#34191e; font-size:30px; padding:0; margin:0; text-align:center; text-transform:uppercase; background:none; width:100%; height:auto;}
	#content_events h4.title {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:32px; color:#631e29; font-style:italic; font-weight:normal; line-height:40px; text-align:left;}


.events_thumb_intro {
	float: left;
	margin: 0px 15px 0px 0;
}
.events_thumb_detail {
	float: right;
	margin: 0 0 5px 5px;
}
.events_thumb_intro img, .events_thumb_detail {border-radius:10px}



#press {padding:20px;}
		#press a {border:0; margin:0; padding:0; background:none; width:auto; color:#8a2525; font-size:25px; text-transform:none;}
		#press a:hover {text-decoration:none; color:#000;}
		#press p {line-height:22px;}
		#press h2 {line-height:30px;}


		.press_thumb {padding:0; background:none; margin:0 10px 5px 0; width:auto; float:left; padding:0; border-radius:10px}
			.press_thumb a {float:left; padding:0; background:none; margin:0; width:auto;}
			.press_thumb a:hover {text-decoration:none; color:#000;}		
			
	#press hr {margin:30px 0; border:0; padding:1px; background-color:#d0d0d0;}
			
#press_details h2 {font-size:30px; padding-bottom:10px;}
#press_details p {line-height:24px;}
	#press_details a {font-family:Arial, Helvetica, sans-serif; color:#381b20; font-size:15px; padding:10px 0;}
	#press_details a:hover {text-decoration:none; color:#333;}
	
	
#content_tours {width:400px; margin-left:93px;}



.specials {margin:20px auto; width:512px; text-align:left; padding-top:20px;}
	.specials img {border-radius:10px; margin:10px 20px 0 0;}
	.specials_content {float:right; width:363px; margin-bottom:20px;}
	
		.specials a {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; text-transform:uppercase; color:#631e29; font-size:11px; font-weight:normal; margin-right:20px; text-align:left; font-weight:bold;}
		.specials a:hover {text-decoration:none; color:#d0cdcd;}	

	
#reservation input,select,textarea  {padding:0; font-size:14px; color:#ca858e; border:none; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-weight:normal; background-color:#2a0d11; margin:5px 0; padding:5px;}

#us_widget input.w_button {margin-top:3px !important;}
.w_header {margin:5px 0 !important;}
#us_widget input.w_button {background:#c6c7a8 !important; border:none !important; height:30px !important; border-radius:5px; color:#621e29 !important; text-transform:uppercase;}
	
#us_widget .w_header {font-family:"LeagueGothicRegular", Arial, Helvetica, sans-serif !important; font-weight:normal !important; font-size:27px !important; text-transform:uppercase !important; padding-bottom:10px !important;}
#w_perk-6486 {color:#a19a9a !important;}


.clear {clear:both;}

/**
 * Error CSS
 */
.errmsg {
	background-color:#FFF5F5;
	border:1px dotted #CC0000;
	margin:10px 0 10px 0;
}
.errmsg div { padding: 10px 0 10px 0; }
.errmsg ul { margin-top: 0; margin-bottom: 0; margin-left: 20px;}
.errmsg li { list-style: disc; }


.scroll{overflow:hidden;}
.scrollcontainer{position:relative;}
	.scrollnav a{color:#fff; position:absolute; z-index:100; margin:160px 0 0 441px;}



/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxContent{margin-top:20px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}